html {
    font-size: 62.5%;
    box-sizing: border-box;
}


body {
    font-family: 'Press Start 2P', sans-serif;
    color: rgb(128, 126, 126);
    background-color: #A8577E;
    border: solid white 5px;
    padding: 10px;
   
}


main {
    height: 65vh;
    color: rgb(165, 161, 161);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.leftblock {
    width: 52rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rightblock {
    width: 52rem;
    font-size: 2rem;
}

.word {
    width: 100px;
    color: white;
    text-align: center;
    position: relative;
    left: 600px;
    font-size: 32px;
}


h1 {
    font-size: 4rem;
    text-align: center;
    position: relative;
    bottom: -17px;
    width: 100%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.strip {
    background-color: #f0c1ec;
    height: 80px;
}


.possibleanswers {
    border: solid white 5px;
    font-size: 18px;
    position: relative;
    bottom: 100px;
    width: 500px;
    text-align: center;
    color: white;
}

.paris {
    width: 200px;
    height: 100px;
    position: relative;
    bottom: 400px;
    position: relative;
    left: -1px;

}

.parispics {
    display: flex;
    flex-direction: row;
}

.again {
  position: absolute;
  top: 2rem;
  left: 2rem;
}