html {
    font-size: 62.5%;
    box-sizing: border-box;
}


body {
    font-family: 'Press Start 2P', sans-serif;
    color: rgb(128, 126, 126);
    background-color: #A8577E;
    border: solid white 5px;
    padding: 10px;
   
}

main {
    height: 65vh;
    color: rgb(165, 161, 161);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.leftblock {
    width: 52rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rightblock {
    width: 52rem;
    font-size: 2rem;
}

.message {
    position: relative;
    bottom: 50px;
    left: 20px;
}

.word {
    width: 500px;
    color: white;
    text-align: center;
    position: relative;
    left: 500px;
    font-size: 36px;
}


h1 {
    font-size: 4rem;
    text-align: center;
    position: relative;
    bottom: -1px;
    width: 100%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    
}

.strip {
    background-color: #A8577E;
    height: 90px;
}


.possibleanswers {
    border: solid white 5px;
    font-size: 18px;
    position: relative;
    bottom: 120px;
    width: 500px;
    text-align: center;
    color: #c5bbc5;
}

.paris {
    width: 200px;
    height: 100px;
    position: relative;
    bottom: 420px;
    position: relative;
    left: -1px;

}

.parispics {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 2px;
}


.pwords {
    padding: 10px;
}

.again {
  position: relative;
  bottom: -15px;
  right: 235px;
  width: 120px;
  height: 40px;
  font-size: 18px;
  color: rgb(78, 73, 73);
  background-color: #c5bbc5;
  border-radius: 5px;
}

.guess {
    width: 290px;
    height: 40px;
    position: relative;
    bottom: 120px;
    left: 90px;
    border-radius: 5px;
    background-color: #c5bbc5;
}


.scores {
    position: absolute;
    bottom: 200px;
    right: 60px;
    display: flex;
    flex-container: row;
    color: white;
    font-size: 28px;
}

.label-score {
  position: absolute;
  bottom: 100px;
  right: 20px;
}

.mix {
    position: relative;
    bottom: -20px;
    
}
  


.next {
    position: relative;
    bottom: -16px;
    left: -110px;
    width: 120px;
    height: 40px;
    background-color: #c5bbc5;
    border-radius: 5px;
    font-size: 18px;
    color: rgb(78, 73, 73);
}

.checkanswer {
    width: 120px;
    height: 40px;
    position: relative;
    bottom: 16px;
    left: -68px;
    background-color: #c5bbc5;
    border-radius: 5px;
    font-size: 18px;
    color: rgb(78, 73, 73);
}