html {
    font-size: 62.5%;
    box-sizing: border-box;
}


body {
    font-family: 'Press Start 2P', sans-serif;
    color: rgb(128, 126, 126);
    background-color: rgb(176, 232, 240);
    border: solid white 5px;
    padding: 10px;
   
}


main {
    height: 65vh;
    color: rgb(165, 161, 161);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.leftblock {
    width: 52rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rightblock {
    width: 52rem;
    font-size: 2rem;
}

.word {
    width: 100px;
    color: white;
    text-align: center;
    position: relative;
    left: 600px;
    font-size: 18px;
}


h1 {
    font-size: 4rem;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.possibleanswers {


}

.again {
  position: absolute;
  top: 2rem;
  left: 2rem;
}